# Quartus
*.qpf
*.qsf
*.qsys
*.sopcinfo
*.sof
*.bak
*.rpt
*.summary

# Modelsim
*.do
*.mti
*.wlf
transcript

# VHDL and SystemVerilog
*.vcd
*.vstf
*.tfs
*.tcl
*.log
*.db
*.sdb
*.sdf
*.sdo
*.txt
*.cfg
*.sh
*.hex
*.bak
*.vbe
*.vcxproj
*.qip
*.qar
*.qan
*.qrc
*.qxp
*.qpl
*.vho
*.vhf
*.vhp
*.vhi
*.vhs
*.vht
*.svh
*.svf
*.svt
*.svi
*.svs
*.svt
*.svp
